canvas {
	  z-index: 0;
}


@font-face {
    font-family: "OctoberCrow";
    src: url("../fonts/OctoberCrow.ttf");
}

#player-chat { list-style-type: none; margin: 0; padding: 0; overflow: auto; background: #333333; color: #ffffff}
#player-chat > li { padding: 0.5rem 1rem; }
#game-log { list-style-type: none; margin: 0; padding: 0; overflow: auto; background: #333333; color: #ffffff}
#game-log > li { padding: 0.5rem 1rem; }
#game-log > li:nth-child(odd) { background: #575757; }

.demon-chat { list-style-type: none; margin: 0; padding: 0; overflow: auto; background: #810000; color: #000000}
.demon-chat > li { padding: 0.5rem 1rem; }
.demon-chat > li:nth-child(odd) { background: #b30000; }